{% extends "base.html" %}

{% block body %}
<h1>로그인</h1>
{{ request.user }}
<input type="text" id="username">
<input type="password" id="password">
<button id="login">로그인</button>

<div class="container">

    <div class="form-group col-md-6">
        <div class="row">
            <a href="{% url 'register' %}" class="form-control btn btn-outline-danger">회원 등록</a>
        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

<script>
    $(document).ready(function () {
        $('#login').click(function () {
            $.post('/apis/users/login', { 'username': $('#username').val(), 'password': $('#password').val() }, function () {
                alert('로그인을 환영합니다!');
                window.location = '/';
            }).fail(function (data) {
                alert(data.responseJSON.message);
            });
        });
    });
</script>
{% endblock %}